form {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #0b37636e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 5px;
    justify-content: center;
}

.form-control label {
    font-weight: 400;
    font-size: 15px;
    color: #07315a;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: left;
}

.form-control input,
.form-control select,
.form-control textarea {
    padding: 7px 7px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 300;
}

.formNavigation {
    display: flex;
    justify-content: space-between;
}

.formNavigation button {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 25px;
    background-color: #07315a;
    color: white;
    margin-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.formNavigation button:hover {
    background-color: #cfdae8;
    color: black;
}

.remove-btn {
    background-color: #98271a;
    color: white;
    border-radius: 15px;
    padding: 7px 0;
    margin-top: 5px;
    font-size: 14px;
    border: none;
}

.remove-btn:hover {
    background-color: #98271a92;
}

.add {
    border-radius: 10px;
    border: none;
    cursor: pointer;
    justify-content: left;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #07315a;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}