.recipe-details-container {
    max-width: 800px;
    margin: 10px auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.recipe-header-card {
    background: #c7dfff76;
    text-align: center;
    max-width: 800px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.217);
    margin-bottom: 60px;
}

.recipe-header-card h1 {
    font-size: 40px;
    font-weight: 600;
    color: rgb(53, 73, 112);
    margin-bottom: 30px;
}

.recipe-header-card p {
    color: rgb(81, 81, 100);
    font-size: 18px;
    font-weight: 300;
    margin: 10px 5px;
}

.details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.ingredients-card, 
.instructions-card {
    background: rgba(227, 238, 242, 0.567);
    border-radius: 15px;
}

.ingredients-card h2,
.instructions-card h2 {
    font-size: 25px;
    font-weight: 300;
}

.instructions-card ol {
    padding-left: 30px;
}

.instructions-card li {
    margin-bottom: 5px;
    line-height: 1.8;
    text-align: left;
}

.loading {
    margin-top: 150px;
    text-align: center;
    font-size: 30px;
}

.delete-btn {
    border-radius: 10px;
    padding: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: rgb(3, 52, 95);
    color: white;
}

.edit-btn {
    border-radius: 10px;
    padding: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    background-color: rgb(3, 52, 95);
    color: white;
}

.user-actions {
    display: flex;
    justify-content: space-between;
}

