.comment-button{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(7, 6, 76);
    color: rgb(5, 5, 70);
    background: white;
}

.comment-button:hover {
    color: white;
    background-color: rgb(7, 6, 76);
}

.post-btn,
.close-btn {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(7, 6, 76);
    color: rgb(5, 5, 70);
    background: white;
}

.post-btn:hover,
.close-btn:hover {
    color: white;
    background-color: rgb(7, 6, 76);
}

.post-comment {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.post-comment textarea {
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px 10px;
    font-size: 15px;
}