.recipe-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: rgba(211, 225, 250, 0.367);
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.09);
}

.recipe-card:hover {
    transform: translate(-2px)
}

.recipe-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.recipe-card img:hover {
    transform: scale(1.02);
}

.recipe-card-content {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.recipe-name {
    font-weight: 500;
    font-size: 25px;
    font-style: italic;
    color: #09103d;
}

.prep-time {
    font-size: 20px;
    color: #646568;
}

.author {
    font-size: 18px;
    color: rgb(73, 122, 179);
}